<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257180841290-o47k49dj90ncjk624temcnponj95iue6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257180841290-o47k49dj90ncjk624temcnponj95iue6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257180841290-c8fdcsqlu2hgo7m63c2mj7h2b9les1ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkzO2QLHBHu3D6g4aPr-TQJ3qos9iyCr0</string>
	<key>GCM_SENDER_ID</key>
	<string>257180841290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tap2Call.com</string>
	<key>PROJECT_ID</key>
	<string>treehacks-3f859</string>
	<key>STORAGE_BUCKET</key>
	<string>treehacks-3f859.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257180841290:ios:17474a0337d276dda83db3</string>
</dict>
</plist>